<ion-view view-title="iNFORMACION">
  <ion-content class="padding fondo">
    <center><h2 class="color">No hay vida sin Agua</h2></center>
    <p class="color">
   El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.<a href="http://market.ionic.io/starters" target="_blank" rel="noopener"></a>.
    </p>
    <p class="color">
      Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. <code></code><code></code>
    </p>
    <p class="color">
   Vamos a ver porqué el agua resulta tan importante para la vida. Fuera del mar, el agua potable es apenas solo un 1 por ciento de todo el agua existente, el 96 por ciento restante es agua salada que se encuentra en los mares, y el tres por ciento que falta es el agua que se encuentra en los polos en forma de hielo. <a href="http://forum.ionicframework.com" target="_blank" rel="noopener"></a><a href="http://twitter.com/ionicframework" target="_blank" rel="noopener"></a>
    <center><h3 class="color">consejos para el consumo de agua en el cuerpo humano</h3></center>
    <center><h5 class="color"> “No me gusta el sabor del agua natural”.</h5><center>
    <p class="color">El sabor del agua natural es uno de los pretextos más comunes para no satisfacer el nivel de hidratación que requiere tu cuerpo. Afortunadamente, puedes poner un toque de sabor a tus bebidas. Te recomendamos cortar unas rodajas de naranja y agregarlas a tus vasos con agua. Recuerda, es importante abandonar las bebidas azucaradas, como los refrescos y los jugos, los cuales aportan calorías vacías y cero nutrientes.</p>
    <center><h5 class="color">“No tengo tiempo”.</h5><center>
    <p class="color">Beber agua no te quitará tiempo si la mantienes cerca en todo momento. Puedes comprar un envase para transportar tu agua, y rellenarlo constantemente. Opta por los recipientes que ayudan a mantener la temperatura de los líquidos.</p>
    <center><h5 class="color">“Se me olvida tomar agua”.</h5><center>
    <p class="color">Si tu rutina diaria es tan agitada que te olvidas de beber agua, recurre a las alarmas, por lo menos cada media hora. Una vez que establezcas este hábito, los recordatorios dejarán de ser necesarios. Considera que tu jornada laboral será más eficiente si te mantienes hidratado. ¡Pónlo a prueba!</p>
    <center><h5 class="color">“No sé cuánto tomar”.</h5><center>
    <p class="color">No existe una medida específica, esta dependerá de tu edad y género. Es decir, los niños de entre cuatro y ocho años deben tomar 1.6 litros de agua al día; los niños de nueve a 13 años deben consumir un aproximado de 2 litros; mientras que los adolescentes y adultos deben beber de 2 a 2.5 litros.</p>
    <center><H4 class="color">Conoce más: ¿Cuánta agua beber durante y después del ejercicio?</H4><center>
    <h5 class="color">“Beber agua natural es aburrido”.</h5><center>
    <center><p class="color">Además de beber agua de frutas —sin azúcar—, puedes recurrir al té, ya sea de manzanilla, hierbabuena, canela o limón, por mencionar algunos. No olvides que es innecesario añadirle azúcar. Una vez que te acostumbres al sabor, tu cuerpo dejará de pedirla.</p>
    <img src="https://static.wixstatic.com/media/e76ffa_a911b38d576c483495ea4afa6fd67f83~mv2.gif">
   <div class="todo">
    <div class="titulo"> 
      <p>Juego de memoria </p>
    </div>
        <div class="contador">
            <p>Intentos</p>
            <p class="counter">0</p>
        </div>
        <div class="memoria">
            <div class="carta" id="1">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="2">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="3">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="4">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            
            <div class="carta" id="5">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="6">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="7">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="8">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            
            <div class="carta" id="9">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="10">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="11">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="12">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
        
            <div class="carta" id="13">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="14">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="15">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
            <div class="carta" id="16">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
      
      <div class="carta" id="17">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
      
      <div class="carta" id="18">
                <div class="inner-wrap">
                    <div class="frente"></div>
                    <div class="atras"></div>   
                </div>
            </div>
    
        </div>
    </div>
  </ion-content>
</ion-view>
