<ion-view view-title="">
   <ion-content class="padding fondo3">
    <ion-list>
    	
        <center><h3>lacteos</h3></center>
       <center><img src="http://3.bp.blogspot.com/-TyQstoULel8/UgQH32MhOWI/AAAAAAAAAEc/AyL2szSJMcU/s1600/
       	medida-casera-lacteos.png"></center>

       	<center><h3>carnes</h3></center>
       	<center><img src="https://i.blogs.es/70b14f/carne-pollo-cerdo-ternera/450_1000.png"></center>

		<center><h3> agua</h3></center>
       	<center><img src="http://sistemadeetiquetados.weebly.com/uploads/1/5/7/9/15793704/5280820.jpg?250"></center>

       	<center><h3></h3></center>
       	<center><img src=""></center>

       	<center><h3></h3></center>
       	<center><img src=""></center>

        <video src:""></video></p>

    </ion-list>
  </ion-content>
</ion-view>
