<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>No hay vida sin Agua</h2>
    <p>
   El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.<a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
    </p>
    <p>
      Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
   Vamos a ver porqué el agua resulta tan importante para la vida. Fuera del mar, el agua potable es apenas solo un 1 por ciento de todo el agua existente, el 96 por ciento restante es agua salada que se encuentra en los mares, y el tres por ciento que falta es el agua que se encuentra en los polos en forma de hielo. <a href="http://forum.ionicframework.com" target="_blank" rel="noopener">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank" rel="noopener">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    
    <video src:""></video></p>
  </ion-content>
</ion-view>
